$light-gray: #cec9c2;
$text-color: #2cb0f7;

mat-card {
  .header{
    background-color: $light-gray;
    margin-bottom: 20px;
    h1 {
      display: inline;
    }
  }

  .content{
    min-height: 500px;
  }


}
