<!--The content below is only a placeholder and can be replaced.-->
<!doctype html>
<html>
  <head>
    <title>Angular Cart</title>
  </head>
  <body>
          <mat-card>
             <mat-card class="header">
                 <a routerLink="/products">
                   <img src="./assets/img/logo.png" >
                 </a>
                 <h1>
                 Angular Store
                 </h1>
             </mat-card>
             <mat-card class="content">
                  <router-outlet></router-outlet>
             </mat-card>

          </mat-card>

  </body>
</html>
